extends layout

block content
  h1 Thông tin lãi suất ngân hàng !{bank.code}
  i Cập nhật vào lúc !{bank.lastUpdate}
  table
    thead
      tr
        th Kỳ hạn
        th Cuối kỳ
        th Hằng tháng
    tbody
      each val in bank.interestRates
        tr
          if val.period === 0
            td Không kỳ hạn
          else
            td #{val.period} tháng
          td=val.value
          td=val.monthly
  a(href="/") Quay lại