extends layout

block content
  h1="Lãi suất ngân hàng"
  div(class="right-link")
    a(href="/loan") Lãi suất cho vay
  table
    caption
      code=""
    thead
      tr
        th(rowspan='2')="Ngân hàng"
        th(colspan='9')="Kỳ hạn"
      tr
        th="Không kỳ hạn"
        th="1 tháng"
        th="3 tháng"
        th="6 tháng"
        th="9 tháng"
        th="12 tháng"
        th="18 tháng"
        th="24 tháng"
        th="36 tháng"
    tbody
      each val in banks
        tr
          td
            a(href="/detail?c=#{val.code}")=val.code
          td= val.interestRates[0].value
          td= val.interestRates[1].value
          td= val.interestRates[2].value
          td= val.interestRates[3].value
          td= val.interestRates[4].value
          td= val.interestRates[5].value
          td= val.interestRates[6].value
          td= val.interestRates[7].value
          td= val.interestRates[8].value
  div(class="flex-chart")
    each val in banks
      div(class="b-#{val.index} bar-area" style="width: #{val.width};")
        div(class="horizon-bar #{val.code.toLowerCase()}" style="animation: #{val.duration}s ease-in 1s 1 forwards increase") #{val.code}
          span(class="percent-line" style="left: 50%") #{val.rate}
