extends layout

block content
  h1="Lãi suất vay"
  div(class="right-link")
    a(href="/") Lãi suất
  table
    caption
      code=""
    thead
      tr
        th(rowspan='3')="Ngân hàng"
        th(colspan='4')="Hình thức vay"
      tr
        th(colspan='2')="Nhà"
        th(colspan='2')="Ô tô"
      tr
        th="Lãi suất (%/năm)"
        th="Thời gian ưu đãi"
        th="Lãi suất (%/năm)"
        th="Thời gian ưu đãi"
    tbody
      each val in banks
        if val.loanRates && val.car && val.house
          tr
            td
              a(href="/detail?c=#{val.code}")=val.code
            td= val.house.rate
            td #{val.house.period} tháng
            td= val.car.rate
            td #{val.car.period} tháng
        else
          tr
            td 
              a(href="/detail?c=#{val.code}") #{val.code}
            td(colspan='4') Đang cập nhật