extends layout

block content
  h1="Lãi suất ngân hàng"
  div(class="right-link")
    a(href="/") Lãi suất
  table
    caption
      code=""
    thead
      tr
        th(rowspan='2')="Ngân hàng"
        th(colspan='9')="Kỳ hạn"
      tr
        th="Không kỳ hạn"
        th="1 tháng"
        th="3 tháng"
        th="6 tháng"
        th="9 tháng"
        th="12 tháng"
        th="18 tháng"
        th="24 tháng"
        th="36 tháng"
    tbody
      each val in banks
        if val.loanRates && val.loanRates.length === 9
          tr
            td
                a(href="/detail?c=#{val.code}")=val.code
            td= val.loanRates[0].value
            td= val.loanRates[1].value
            td= val.loanRates[2].value
            td= val.loanRates[3].value
            td= val.loanRates[4].value
            td= val.loanRates[5].value
            td= val.loanRates[6].value
            td= val.loanRates[7].value
            td= val.loanRates[8].value
        else
          tr
            td 
              a(href="/detail?c=#{val.code}") #{val.code}
            td(colspan='9') Đang cập nhật